body {
  padding: 0;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;

  form {
    display: flex;
    flex-direction: column;
  }
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}