{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "array-bracket-newline": {
      "minItems": 2
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "eslint-plugin-import",
    "@typescript-eslint",
    "eslint-plugin-prettier"
  ],
  "rules": {
    "consistent-return": "off",
    "no-underscore-dangle":  ["error", { "allow": ["_id"] }],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error", { "ignoreTypeValueShadow": true }],
    "@typescript-eslint/no-var-requires": 0,
    "prettier/prettier": "error"
  },
  "ignorePatterns": [
    "./src/**/*.test.ts"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
